html, body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body{
    margin-left: 200px;
    margin-right: 200px;
    max-width: 1000px;
    background-color: #cd6133;
    font-family: Arial, Helvetica, sans-serif;
}

.padding{
    padding: 0 20px;
    box-sizing: border-box;
}

.main-header{
    text-align: center;
    color: white
}

.main-paragraph{
    color: black;
    font-size: 18px;
    font-weight: 550;
}

.paragraph{
    color: black;
    font-size: 16px;
    font-weight: 450;
}

div.paragraph{
    margin: 5px 0;
}

a, a:visited{
    text-decoration: none;
    color: rgb(16, 1, 151);
    font-size: inherit;
    font-weight: inherit;
}

a:hover{
    color: rgb(0, 255, 242);
}

button{
    display: block;
    margin: 5px 0;
}

.frame{
    box-sizing: border-box;
    padding: 0;
    border: 5px solid black;
    margin: 20px 0;
}

.center{
    display: block;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}